/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-div-search {
  border-radius: 2px;
  margin: 100px auto 30px;
  max-width: 130%;
  padding: 130px 30px 40px 30px;
  font-size: 44px;
  color: #498dc5;
  background-color: #498dc5;
  font-weight: 400;
  letter-spacing: .1px;
  text-align: left;
  line-height: normal;
  box-sizing: border-box;
  font-family: Lato,Arial,Helvetica Neue,sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divider {
  width: 20px;
  height: auto;
  display: inline-block;
}
.profile-block-introduction {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 1px;
  margin: 10px auto 30px;
  margin-top: 60px;
  max-width: 1000px;
  height: auto;
  border: 1px solid grey;
}
.profile-block-experience {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 1px;
  margin: 10px auto 30px;
  margin-top: -2px;
  max-width: 1000px;
  height: auto;

  border: 1px solid grey;
}

.profile-block-skills {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 1px;
  margin: 10px auto 30px;
  margin-top: -2px;
  max-width: 1000px;
  height: auto;

  border: 1px solid grey;
}

.btn.btn-secondary.dropdown-toggle {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 500;
}

.row1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 100px;
  border-style: solid;
  border-radius: 5px;
  }
  .row2 {
  text-align: left;
  border-style: solid;
  border-radius: 5px;
  margin-top: 50px;
  padding-left: 30px;
  }
  .btn {
  border-radius: 12px;
  width: 100px;
  background-color: #99e6ff;
  }

  .row3 {
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 20px;
    border-style: groove;
    width: 900px;
    padding-bottom: 10px;
    }
    .container-fluid1 {
    margin-top: 80px;
    }
    .body {
    background: navy;
    }
    
